/Ejercicio2/nbproject/private/
/Ej2_Ruleta_Rusa_Acuosa/nbproject/private/
/Ej1_Adoptando_un_Perro/nbproject/private/
/Ej1_Adoptando_un_Perro/build/
/Ej2_Ruleta_Rusa_Acuosa/build/
/Ej3_Baraja_Española/nbproject/private/
/Ej3_Baraja_Espaniola/nbproject/private/
/Ej3_Baraja_Espaniola/build/
/ExtraEj1_Adopciones_de_Perros/nbproject/private/